{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Small portfolio
	</title>
</head>
<body  bgcolor="cyan" background="{% static 'images/of.png' %}">
	<nav style="display:flex; justify-content: space-evenly;background-color: blue; border-radius:50px">
		<h2 style="border: 1px solid; background-color: orangered; border-radius: 30%;">PORTFO<span style=" color: white;">LIO</span></h2>
		<a href="project"><h4 style="border: 1px solid; background-color: white; border-radius: 30%;">PROJECT</h4></a>	
		<a href="achievement"><h4 style="border: 1px solid; background-color: white; border-radius: 30%;">ACIEVEMENT</h4></a>	
	</nav>
	<br>
	<center><!-- 
		<img width = "1500" height = "300" src="{% static 'images/hello.gif' %}">
	</center> -->
	<hr style="color: blue;" >
	<div style="display:flex; flex-direction: row-reverse;">
		<center>
		<h2 style="margin-right:350px;">
			Hii There,This is Vikash Yadav
		</h2>
		<b style="margin-top:27px;margin-right:369px;"><span style="color:white;">Dedicated Programmer from India</span></b><br><br><br><br>
		<center><h2 align="left"><u>About ME</u></h2></center>
		<b style="margin-top:134px;margin-right:399px;">- I'm in the 2nd year of B.Tech Computer Science.</b><br><br>	
		<b style="margin-top:134px;margin-right:399px;">- Currently working on OPen source , Django</b><br><br>
		<b style="margin-top:134px;margin-right:399px;">- I'm currently working on the open source.</b><br><br>
		<b style="margin-top:134px;margin-right:399px;">-Ask me about Dev,C.P,Dsa , Interview Question</b><br><br>
		<b style="margin-top:134px;margin-right:399px;">-Fun fact I think am creative and funny .</b><br>

	</center>
<img style="margin-top: 100px;margin-right: 340px" align="left" src="{% static 'images/profile.png' %}" width = 380 height="250" >
</div>
<br>
<center>
<h2 ><u>Connect with me</u></h2>
<br>
<a href="#"><img height ="80" width ="70"src="{% static 'images/linkedin.svg'%}"></a>
<a href="#"><img height ="80" width ="70" src="{% static 'images/gt.svg'%}"></a>
<a href="#"><img height ="80" width ="70" src="{% static 'images/twitter.svg'%}"></a>	
<a href="#"><img height ="80" width ="70" src="{% static 'images/lt.png'%}"></a>	

<!-- <img src="linkedin.svg"> -->
</center>
<br>
<center>
	<h2><u>Language Known</u>	</h2>
	<br>
	<img height="80" width="60" src="{% static 'images/c++.png' %}">
	<img height="80" width="60" src="{% static 'images/j++.jpeg' %}">
	<img height="80" width="60" src="{% static 'images/python.png' %}">
	<img height="80" width="60" src="{% static 'images/django.png' %}">
	<img height="80" width="60" src="{% static 'images/linux.png' %}">
</center>
<hr style="color: blue;" >


</body>
</html>